extends ../layouts/application.pug

block header
    = t('views.status.heading')

block content
    +formFor()(action=route('statusNew') method='post')
        +input(user, 'name', t('fields.name'), errors)(type="text" placeholder=t('fields.name'))
        +submit(user)(value=t('views.status.submit'))
